span{
	margin: 50px;

}
table{
	border-collapse: collapse;
	/* margin-left: auto;
	margin-right: auto; */

}
th, td{
	border: 1px solid black;
}
h1{
	/* text-align: center; */
	margin: 60px;
}
th{
	background-color: #FEFB00;
}
#blank1{
	background-color: white;
}
.row2{
	background-color: #FFB300;
}
.main_web{
	color: #0433FF;
}
